<a href="https://colab.research.google.com/github/baba-programmeur/Mcommerce-partie1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hello faty")
print("LAMINE")

hello faty
LAMINE

In [13]:
import pandas as pd
from google.colab import files 
import io 
uploaded=files.upload()

Saving student-mat.csv to student-mat (1).csv

In [15]:
df=pd.read_csv(io.BytesIO(uploaded['student-mat.csv']),sep=';')

df

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [31]:
etudiant=df[['age','sex','studytime','G1']]
etudiant.describe()

              age   studytime          G1
count  395.000000  395.000000  395.000000
mean    16.696203    2.035443   10.908861
std      1.276043    0.839240    3.319195
min     15.000000    1.000000    3.000000
25%     16.000000    1.000000    8.000000
50%     17.000000    2.000000   11.000000
75%     18.000000    2.000000   13.000000
max     22.000000    4.000000   19.000000

In [29]:
#lage moyenne
activity.mean()

16.696202531645568

In [25]:
df.head(100)

   school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0      GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1      GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2      GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3      GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4      GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..    ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
95     GP   F   15       R     GT3       T  ...     1       1        2   7  10  10
96     GP   M   16       R     GT3       T  ...     1       4        2  11  15  15
97     GP   F   16       U     GT3       T  ...     1       5        2   8   9  10
98     GP   F   16       U     GT3       T  ...     2       1        6  11  14  14
99     GP   F   16       U     GT3       T  ...     1       3        0   7   9   8

[100 rows x 33 columns]